<div class="container">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="30px">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <app-picture [photo]="picture" [classCover]="false"></app-picture>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit(picture!.id)">
            <p><button mat-raised-button color="warn">Remove from favorites</button></p>
        </form>
    </div>
</div>
