section {
    display: table;
    text-align: center;
    width: 100%;
}

.pan-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.pan-flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pan-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
