.container {
    padding: 15px;
    text-align: center;

    // app-picture img {
    //     object-fit: cover;
    // }
    // display: flex;
    // justify-content: center;
}

// .box {
//     width: 100%;
//     height: 100%;
//     // border: 1px solid gray;
// }
// app-picture div img {
//     object-fit: cover;
// }

.center {
    display: flex;
    justify-content: center;
}
