* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    padding: 0px;
}

body {
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-picture:hover {
    cursor: pointer;
}

.title {
    margin: 5px 0px 5px 0px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.picture {
    max-height: 100%;
    max-width: 100%;
    // overflow: hidden;
    // display: inline-block;
}

img.resize {
    height: 100%;
    max-width: 100%;
    resize: both;
}

.small-container {
    display: inline-block;
    padding: 10px;
    margin: 20px;
    // height: 200px;
    // width: 300px;
    align-content: center;
}

// .block-inner {
//     // width: 100%;
//     // display: flex;
//     // margin: auto;
// }

.image-container {
    display: block;
    height: 0;
    width: 100%;
    height: 100px;
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    &>img {
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        max-width: none;
        max-height: none;
        width: 100%;
        height: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
    }
}
